[buildout]

extends = https://raw.githubusercontent.com/IMIO/buildout.pm/refs/heads/master/communes-dev.cfg

extensions =
#    buildout.environ
    mr.developer

develop = .

#auto-checkout =
#     Products.PloneMeeting

parts =
    testmc
    code-analysis

[sources]
# Products.PloneMeeting = git ${remotes:imio}/Products.PloneMeeting.git pushurl=${remotes:imio_push}/Products.PloneMeeting.git branch=${__environ__:PM_BRANCH_NAME}

[versions]
buildout.environ = 1.2.0
