 /**
   * Styles for the gallery container, which holds the entire component.
   */
  .gallery-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  /**
   * Styles for buttons to ensure they fill their container.
   */
  button {
    width: var(--size-full);
    height: var(--size-full);
    display: block;
    border-radius: var(--radius-lg);
  }

