@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");


/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a[href],
button {
  cursor: pointer;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-flow: column;
}

button,
input {
  font-weight: inherit;
}

input {
  border-radius: 0;
}

:is(a, button, input, select, textarea, summary):focus-visible {
  outline: 2px solid #09b6bd;
  outline-offset: 2px;
}

body {
  background-color: #f6f6f6;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color: #121212;
}

.iati-dark-background {
  color: #f6f6f6;
  background-color: #155366;
}

p,
a,
li {
  line-height: 2;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

li p {
  margin: 0;
}

a {
  color: #2d6a7d;
  text-decoration: none;
  text-decoration-color: #add3df;
  text-underline-position: under;
}
a:active, a:hover, a:focus {
  text-decoration: underline;
}
a:has(i), a:has(img) {
  text-decoration: none;
  line-height: 0;
}

p a {
  text-decoration: underline;
}
p a:active, p a:hover, p a:focus {
  text-decoration: none;
}

a.light {
  color: #add3df;
  text-decoration-color: #448093;
}

table:not([class]) {
  border-collapse: collapse;
  display: inline-block;
  max-width: 100%;
  width: 100%;
  overflow: auto;
}
table:not([class]) thead,
table:not([class]) th {
  background-color: #f6f6f6;
}
table:not([class]) thead,
table:not([class]) thead p,
table:not([class]) th,
table:not([class]) th p {
  font-weight: 600;
}
table:not([class]) th,
table:not([class]) td {
  border: 1px solid #dadada;
  padding: 0.5rem;
}
table:not([class]) caption {
  margin: 1rem 0;
}

.iati-quote, blockquote:not(:has(pre)) {
  border-left: 4px solid #121212;
  padding: 0 1rem;
  margin-left: 1rem;
}

dl dt,
dl dd {
  line-height: 2;
}
dl dt {
  font-weight: 600;
}
dl dd {
  margin-left: 1rem;
}

:not(pre) > code,
.iati-code,
.sig,
code,
pre,
.iati-kbd {
  background-color: #f6f6f6;
  border: 1px solid #dadada;
  border-radius: 4px;
  color: #121212;
  font-family: "Roboto Mono", monospace;
  padding: 0.1em 0.2em;
}

pre > code,
.iati-code--block,
pre {
  background-color: #f6f6f6;
  border: 1px solid #dadada;
  border-radius: 4px;
  color: #121212;
  display: block;
  font-family: "Roboto Mono", monospace;
  overflow-x: scroll;
  padding: 1rem;
}

.iati-reference {
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 4px;
  color: #0e6a6e;
  font-family: "Roboto Mono", monospace;
  padding: 0.1em 0.2em;
}
.iati-reference--block {
  border-radius: 4px;
  display: block;
  overflow-x: scroll;
  padding: 1rem;
}

.iati-kbd .iati-kbd {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 600;
  margin: 0.5em 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

.iati-button {
  --display: inline-flex;
  display: var(--display);
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  background-color: #155366;
  border: none;
  color: white;
  font-family: "Hanken Grotesk", sans-serif;
  line-height: 1.1;
  padding: 0.7em;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.iati-button:active, .iati-button:focus, .iati-button:hover {
  background-color: #2d6a7d;
  text-decoration: none;
}
.iati-button__icon, .iati-button .iati-icon {
  height: 1rem;
}
.iati-button--light {
  color: #121212;
  background-color: #fff;
}
.iati-button--light:hover {
  background-color: #7bedf2;
}
.iati-button--submit {
  color: #121212;
  background-color: #00c497;
}
.iati-button--submit:hover {
  background-color: #3bd2af;
}

.iati-breadcrumb {
  font-weight: 600;
}

.iati-breadcrumb__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}
.iati-breadcrumb__list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.iati-breadcrumb__list li li {
  padding-inline-start: 1rem;
}
.iati-breadcrumb__list > *:not(:last-child)::after {
  content: "/";
  color: #155366;
  padding-inline: 0.4em;
}

.iati-breadcrumb__previous {
  display: flex;
  align-items: center;
}
.iati-breadcrumb__previous .iati-icon {
  height: 1em;
  margin-right: 0.2em;
}

.iati-breadcrumb-link {
  text-decoration: none;
}
.iati-breadcrumb-link[aria-current]:active, .iati-breadcrumb-link[aria-current]:focus, .iati-breadcrumb-link[aria-current]:hover {
  text-decoration: none;
}

@media (min-width: 640px) {
  .iati-breadcrumb__previous {
    display: none;
  }
  .iati-breadcrumb__list {
    display: flex;
  }
}
.iati-brand-background {
  background-color: #155366;
  display: grid;
}
@media (min-width: 768px) {
  .iati-brand-background:after {
    content: "";
    grid-area: 1/-1;
    background-image: url("data:image/svg+xml,%3csvg%20version='1.1'%20id='Layer_1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20x='0px'%20y='0px'%20viewBox='0%200%20557.1%20584.2'%20style='enable-background:new%200%200%20557.1%20584.2;'%20xml:space='preserve'%3e%3cstyle%20type='text/css'%3e%20.st0{opacity:0.4;fill:url(%23SVGID_1_);}%20.st1{fill:url(%23SVGID_2_);}%20%3c/style%3e%3cg%3e%3clinearGradient%20id='SVGID_1_'%20gradientUnits='userSpaceOnUse'%20x1='74.9718'%20y1='409.0905'%20x2='515.0338'%20y2='155.0206'%3e%3cstop%20offset='0.6'%20style='stop-color:%23FFFFFF'/%3e%3cstop%20offset='1'%20style='stop-color:%23FFFFFF;stop-opacity:0'/%3e%3c/linearGradient%3e%3cpath%20class='st0'%20d='M230.7,382.7c-11.2,0-22-1.5-32.3-4.2c-10.7-2.9-20.8-7.1-30.1-12.5c-9.5-5.5-18.2-12.1-25.9-19.8%20c-7.7-7.7-14.4-16.4-19.8-25.9c-5.4-9.3-9.6-19.4-12.5-30.1c-2.8-10.3-4.2-21.1-4.2-32.3c0-11.2,1.5-22,4.2-32.3%20c2.9-10.7,7.1-20.8,12.5-30.1l33.2,19.2c-3.7,6.5-6.7,13.5-8.7,20.9c-1.9,7.1-2.9,14.6-2.9,22.4c0,7.7,1,15.2,2.9,22.4%20c2,7.4,4.9,14.4,8.7,20.9c3.8,6.6,8.4,12.6,13.7,17.9c5.3,5.3,11.4,9.9,17.9,13.7c6.5,3.7,13.5,6.7,20.9,8.7%20c7.1,1.9,14.6,2.9,22.4,2.9s15.2-1,22.4-2.9c7.4-2,14.4-4.9,20.9-8.7c6.6-3.8,12.6-8.4,17.9-13.7l27.1,27.1%20c-7.7,7.7-16.4,14.4-25.9,19.8c-9.3,5.4-19.4,9.6-30.1,12.5C252.7,381.2,241.8,382.7,230.7,382.7z%20M341.1,449%20c16.8-9.7,32.2-21.5,45.8-35.1c13.6-13.6,25.4-29,35.1-45.8c9.6-16.5,17.1-34.4,22.1-53.2c4.9-18.2,7.5-37.4,7.5-57.2%20c0-19.8-2.6-38.9-7.5-57.2c-5-18.9-12.5-36.7-22.1-53.2c-9.7-16.8-21.5-32.2-35.1-45.8c-13.6-13.6-29-25.4-45.8-35.1%20c-16.5-9.6-34.4-17.1-53.2-22.1c-18.2-4.9-37.4-7.5-57.2-7.5v38.4c16.3,0,32.2,2.2,47.2,6.2c15.6,4.2,30.3,10.4,44,18.3%20c13.8,8,26.6,17.7,37.8,29c11.2,11.2,21,24,29,37.8c7.9,13.7,14.1,28.4,18.3,44c4,15.1,6.2,30.9,6.2,47.2s-2.2,32.2-6.2,47.2%20c-4.2,15.6-10.4,30.3-18.3,44c-8,13.8-17.7,26.6-29,37.8c-11.2,11.2-24,21-37.8,29c-13.6,7.9-28.4,14.1-44,18.3l9.9,37.1%20C306.7,466.1,324.5,458.6,341.1,449z%20M307.7,545.3c25.4-6.8,49.5-16.9,71.8-29.7c22.6-13.1,43.3-29,61.6-47.3%20c18.3-18.3,34.3-39,47.3-61.6c12.9-22.3,23-46.4,29.7-71.8c6.6-24.6,10.1-50.4,10.1-77c0-26.6-3.5-52.5-10.1-77%20c-6.8-25.4-16.9-49.5-29.7-71.8c-13.1-22.6-29-43.3-47.3-61.6C422.8,29,402.1,13.1,379.5,0l-19.2,33.3%20C379.9,44.7,398,58.5,414,74.5c16,16,29.8,34,41.2,53.7c11.2,19.4,20,40.4,25.9,62.5c5.7,21.4,8.8,43.9,8.8,67.1%20c0,23.2-3.1,45.7-8.8,67.1c-5.9,22.1-14.7,43.1-25.9,62.5c-11.4,19.7-25.2,37.7-41.2,53.7c-16,16-34,29.8-53.7,41.2%20c-19.4,11.2-40.4,20-62.5,25.9c-21.4,5.7-43.9,8.8-67.1,8.8s-45.7-3.1-67.1-8.8l-9.9,37.1c24.6,6.6,50.4,10.1,77,10.1%20C257.3,555.4,283.1,551.9,307.7,545.3z'%3e%3c/path%3e%3clinearGradient%20id='SVGID_2_'%20gradientUnits='userSpaceOnUse'%20x1='-6.5182'%20y1='477.4318'%20x2='549.1899'%20y2='156.5936'%3e%3cstop%20offset='0.6'%20style='stop-color:%23FFFFFF'/%3e%3cstop%20offset='1'%20style='stop-color:%23FFFFFF;stop-opacity:0'/%3e%3c/linearGradient%3e%3cpath%20class='st1'%20d='M230.7,517c-23.1,0-45.6-3.1-66.9-8.8c-22.2-5.9-43.1-14.7-62.5-25.9l19.2-33.2c16.5,9.5,34.4,17,53.3,22.1%20c18.2,4.8,37.3,7.5,57,7.5c0.1,0,0.1,0,0.2,0c19.8,0,38.9-2.7,57.1-7.5c18.9-5.1,36.7-12.5,53.2-22.1c16.7-9.7,32.1-21.5,45.7-35.1%20c13.6-13.6,25.3-29,35-45.7c9.6-16.5,17-34.3,22.1-53.2c4.9-18.2,7.5-37.4,7.5-57.1c0,0,0-0.1,0-0.1c0-19.7-2.6-38.8-7.5-57%20c-5-18.9-12.5-36.7-22-53.2c-9.7-16.8-21.4-32.2-35-45.8c-13.6-13.6-29-25.4-45.7-35.1c-16.5-9.6-34.4-17.1-53.2-22.1l9.9-37.1%20c22.1,5.9,43.1,14.8,62.5,26c19.7,11.4,37.7,25.2,53.7,41.2c15.9,16,29.8,34,41.1,53.7c11.2,19.4,20,40.3,25.9,62.5%20c5.7,21.4,8.8,43.8,8.8,67c0,0,0,0.1,0,0.1c0,23.2-3.1,45.7-8.8,67c-5.9,22.1-14.7,43.1-25.9,62.4C443.8,407,429.9,425.1,414,441%20c-15.9,16-34,29.8-53.7,41.2c-19.4,11.2-40.3,20-62.4,26c-21.4,5.7-43.9,8.8-67.1,8.9C230.8,517,230.7,517,230.7,517z%20M230.8,584.2%20c29.2,0,57.5-3.9,84.5-11.1c27.9-7.5,54.3-18.5,78.7-32.6c24.7-14.3,47.4-31.8,67.5-51.9c20.1-20.1,37.6-42.8,51.9-67.5%20c14.1-24.4,25.2-50.8,32.6-78.7c7.2-26.9,11.1-55.2,11.1-84.4c0,0,0-0.1,0-0.1c0-29.2-3.8-57.4-11-84.3%20c-7.4-27.9-18.5-54.3-32.6-78.7c-14.3-24.8-31.8-47.5-51.9-67.6l-20.4,20.4c18.3,18.3,34.2,39,47.3,61.6%20c12.9,22.3,22.9,46.3,29.7,71.8c6.5,24.5,10.1,50.3,10.1,76.9c0,0,0,0.1,0,0.1c0,26.6-3.5,52.4-10.1,77%20c-6.8,25.4-16.9,49.5-29.7,71.7c-13.1,22.6-29,43.3-47.3,61.6c-18.3,18.3-39,34.3-61.6,47.3c-22.2,12.9-46.3,23-71.7,29.8%20c-24.6,6.6-50.4,10.1-77,10.1c-0.1,0-0.1,0-0.2,0c-26.6,0-52.3-3.5-76.8-10c-25.4-6.8-49.5-16.8-71.8-29.7%20c-22.6-13.1-43.3-29-61.7-47.3L0,488.7c20.1,20.1,42.8,37.6,67.6,51.9c24.4,14.1,50.9,25.1,78.7,32.6c26.9,7.2,55.1,11,84.3,11%20C230.7,584.2,230.8,584.2,230.8,584.2z%20M278,434c15.6-4.2,30.3-10.4,43.9-18.3c13.8-8,26.5-17.7,37.7-29%20c11.2-11.2,20.9-23.9,28.9-37.8c7.9-13.6,14.1-28.4,18.2-43.9c4-15.1,6.2-30.9,6.2-47.2c0,0,0-0.1,0-0.1c0-16.3-2.2-32.1-6.2-47.1%20c-4.2-15.6-10.3-30.3-18.2-44c-8-13.8-17.7-26.6-28.9-37.8c-11.2-11.2-23.9-21-37.8-29c-13.6-7.9-28.4-14.1-44-18.3%20c-15.1-4-30.9-6.2-47.2-6.3c-0.1,0-0.1,0-0.2,0c-16.3,0-32.1,2.2-47.1,6.2c-15.6,4.2-30.4,10.3-44,18.2l28.8,49.9%20c9.4-5.4,19.5-9.6,30.2-12.5c10.3-2.7,21.1-4.2,32.2-4.2c0.1,0,0.1,0,0.2,0c11.2,0,22,1.5,32.3,4.3c10.7,2.9,20.8,7.1,30.1,12.5%20c9.5,5.5,18.2,12.2,25.8,19.9c7.7,7.7,14.3,16.4,19.8,25.9c5.4,9.3,9.6,19.4,12.4,30.1c2.7,10.3,4.2,21.1,4.2,32.2c0,0,0,0.1,0,0.1%20c0,11.2-1.5,22-4.3,32.3c-2.9,10.7-7.1,20.7-12.5,30.1c-5.5,9.5-12.1,18.2-19.8,25.8c-7.7,7.7-16.4,14.3-25.8,19.8%20c-9.3,5.4-19.4,9.6-30.1,12.5c-10.3,2.8-21.1,4.3-32.3,4.3v57.6C247.2,440.2,263,438,278,434z%20M317.2,257.8%20c0-47.8-38.7-86.5-86.5-86.5s-86.5,38.7-86.5,86.5s38.7,86.5,86.5,86.5S317.2,305.6,317.2,257.8z'/%3e%3c/g%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 2rem top;
    background-size: 32.3rem auto;
    opacity: 0.1;
  }
  .iati-brand-background .iati-brand-background__content {
    grid-area: 1/-1;
    z-index: 1;
  }
}

.iati-callout, .admonition,
.topic,
.versionadded,
.versionchanged,
div.deprecated {
  padding: 1rem;
  border-inline-start: 4px solid #06dbe4;
  background-color: #e6f9fe;
  color: #155366;
  box-shadow: 0 4px 5px #dadada;
}
.iati-callout--orange, .admonition.caution,
.topic.caution,
.versionadded.caution,
.versionchanged.caution,
div.deprecated.caution {
  border-color: #ff7264;
  background-color: #fff0f0;
  color: #6e0900;
}
.iati-callout--red {
  border-color: #f73357;
  background-color: #fff0f3;
  color: #6d091b;
}
.iati-callout--green, .admonition.note,
.topic.note,
.versionadded.note,
.versionchanged.note,
div.deprecated.note {
  border-color: #00c497;
  background-color: #ebfffa;
  color: #145d4c;
}
.iati-callout--purple, .admonition.attention,
.topic.attention,
.versionadded.attention,
.versionchanged.attention,
div.deprecated.attention {
  border-color: #a66ee9;
  background-color: #f6f0ff;
  color: #380674;
}
.iati-callout > *, .admonition > *,
.topic > *,
.versionadded > *,
.versionchanged > *,
div.deprecated > * {
  margin: 0;
}
.iati-callout__title, .admonition .admonition-title,
.admonition .topic-title,
.topic .admonition-title,
.topic .topic-title,
.versionadded .admonition-title,
.versionadded .topic-title,
.versionchanged .admonition-title,
.versionchanged .topic-title,
div.deprecated .admonition-title,
div.deprecated .topic-title {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2;
}

.iati-card, aside.sidebar, .globaltoc {
  box-shadow: 0 4px 5px #dadada;
  background-color: white;
  border-top: 4px solid #155366;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.iati-card :first-child, aside.sidebar :first-child, .globaltoc :first-child {
  margin-top: 0;
}
.iati-card :last-child, aside.sidebar :last-child, .globaltoc :last-child {
  margin-bottom: 0;
}
.iati-card__title, aside.sidebar .sidebar-title {
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}
.iati-card__subtitle, aside.sidebar .sidebar-subtitle, .globaltoc .caption {
  color: #155366;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  margin: 0;
  text-transform: uppercase;
}
.iati-card__menu, .globaltoc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.iati-card__menu ul, .globaltoc ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.iati-card__menu li li, .globaltoc ul li li {
  padding-inline-start: 1rem;
}
.iati-card__menu li, .globaltoc ul li,
.iati-card__menu a,
.globaltoc ul a {
  line-height: 1.2;
}
.iati-card__menu a, .globaltoc ul a {
  text-decoration: none;
  display: block;
  padding: 0.6em 0;
}
.iati-card__menu a.current, .globaltoc ul a.current {
  font-weight: 600;
}

.iati-card-gallery {
  --min-card-width: 300px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}
.iati-card-gallery > * {
  flex: 1;
  min-width: var(--min-card-width);
}

.iati-country-switcher {
  background-color: #fff;
  position: relative;
  display: inline-block;
  color: #121212;
  cursor: pointer;
}
.iati-country-switcher .iati-country-switcher__label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.iati-country-switcher .iati-country-switcher__control {
  padding: 0.7em 2.1em 0.7em calc(1em + 1rem);
  font-family: "Hanken Grotesk", sans-serif;
  line-height: 1.1;
  width: 100%;
  height: 100%;
  appearance: none;
  background-color: #fff;
  border: none;
  font-family: "Hanken Grotesk", sans-serif;
  color: #121212;
  font-weight: 600;
  background-image: url("data:image/svg+xml,%3csvg%20width='20'%20height='20'%20viewBox='0%200%2020%2020'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M10%2019C14.9706%2019%2019%2014.9706%2019%2010C19%205.02944%2014.9706%201%2010%201C5.02944%201%201%205.02944%201%2010C1%2014.9706%205.02944%2019%2010%2019Z'%20stroke='%23121212'%20stroke-width='1.3'%20stroke-linecap='square'/%3e%3cpath%20d='M9.99984%2018.991C12.3938%2016.8114%2013.5908%2013.8144%2013.5908%2010C13.5908%206.18567%2012.3938%203.18867%209.99984%201.00903C7.60584%203.18867%206.40884%206.18567%206.40884%2010C6.40884%2013.8144%207.60584%2016.8114%209.99984%2018.991Z'%20stroke='%23121212'%20stroke-width='1.3'%20stroke-linecap='round'%20stroke-linejoin='bevel'/%3e%3cpath%20d='M1.44991%207.29993H18.5499M1.44991%2012.6999H18.5499'%20stroke='%23121212'%20stroke-width='1.3'%20stroke-linecap='round'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 0.5em center;
}
.iati-country-switcher::after {
  position: absolute;
  right: 0.7em;
  top: calc(50% - 0.1875em);
  content: "";
  width: 0.75em;
  height: 0.375em;
  background-color: currentColor;
  clip-path: polygon(15% 0, 0 0, 50% 100%, 100% 0, 85% 0, 50% 70%);
}

.iati-figures__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.iati-figures__item {
  flex: 1 0 0;
  max-width: 14rem;
  background-color: #add3df;
  padding: 1rem 1.5rem;
  border-radius: 3px;
  transition: background-color 0.1s;
}
.iati-figures__item:has(a:hover) {
  background-color: #5c97a9;
}
.iati-figures__label {
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.iati-figures__number {
  font-size: 2.6rem;
  font-weight: 600;
}
.iati-figures__content {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  line-height: 1;
  color: #121212;
}
.iati-figures__content:active, .iati-figures__content:focus, .iati-figures__content:hover {
  text-decoration: none;
}

.iati-piped-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.iati-piped-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.iati-piped-list li li {
  padding-inline-start: 1rem;
}
.iati-piped-list > * {
  line-height: 1;
  padding: 0.2em;
}
.iati-piped-list > *:not(:first-child) {
  padding-left: 1em;
}
.iati-piped-list > *:not(:last-child) {
  border-right: 1px solid currentColor;
  padding-right: 1em;
}

.iati-icon {
  display: inline-block;
  height: 36px;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.iati-icon--info {
  background-image: url("data:image/svg+xml,%3csvg%20width='18'%20height='18'%20viewBox='0%200%2018%2018'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M9%200.9C4.52627%200.9%200.9%204.52627%200.9%209C0.9%2013.4737%204.52627%2017.1%209%2017.1C13.4737%2017.1%2017.1%2013.4737%2017.1%209C17.1%204.52627%2013.4737%200.9%209%200.9ZM9%2015.9C5.19523%2015.9%202.1%2012.8048%202.1%209C2.1%205.19523%205.19523%202.1%209%202.1C12.8048%202.1%2015.9%205.19523%2015.9%209C15.9%2012.8048%2012.8048%2015.9%209%2015.9Z'%20fill='%23121212'%20stroke='%23121212'%20stroke-width='0.2'/%3e%3crect%20x='7.99838'%20y='6.5'%20width='1.6'%20height='7'%20fill='%23121212'/%3e%3crect%20x='7.99838'%20y='4'%20width='1.6'%20height='1.6'%20fill='%23121212'/%3e%3c/svg%3e");
}
.iati-icon--search {
  background-image: url("data:image/svg+xml,%3csvg%20width='16'%20height='16'%20viewBox='0%200%2016%2016'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M12.1223%2010.9273C14.1911%208.27027%2014.0042%204.42622%2011.5617%201.98367C8.91678%20-0.661223%204.62856%20-0.661223%201.98367%201.98367C-0.661223%204.62856%20-0.661223%208.91678%201.98367%2011.5617C4.42622%2014.0042%208.27027%2014.1911%2010.9273%2012.1223C10.9387%2012.1352%2010.9506%2012.1479%2010.963%2012.1603L14.5548%2015.752C14.8854%2016.0827%2015.4214%2016.0827%2015.752%2015.752C16.0827%2015.4214%2016.0827%2014.8854%2015.752%2014.5548L12.1603%2010.963C12.1479%2010.9506%2012.1352%2010.9387%2012.1223%2010.9273ZM10.3644%203.18092C12.3481%205.16459%2012.3481%208.38075%2010.3644%2010.3644C8.38075%2012.3481%205.16459%2012.3481%203.18092%2010.3644C1.19725%208.38075%201.19725%205.16459%203.18092%203.18092C5.16459%201.19725%208.38075%201.19725%2010.3644%203.18092Z'%20fill='%23121212'/%3e%3c/svg%3e");
}
.iati-icon--globe {
  background-image: url("data:image/svg+xml,%3csvg%20width='20'%20height='20'%20viewBox='0%200%2020%2020'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M10%2019C14.9706%2019%2019%2014.9706%2019%2010C19%205.02944%2014.9706%201%2010%201C5.02944%201%201%205.02944%201%2010C1%2014.9706%205.02944%2019%2010%2019Z'%20stroke='%23121212'%20stroke-width='1.3'%20stroke-linecap='square'/%3e%3cpath%20d='M9.99984%2018.991C12.3938%2016.8114%2013.5908%2013.8144%2013.5908%2010C13.5908%206.18567%2012.3938%203.18867%209.99984%201.00903C7.60584%203.18867%206.40884%206.18567%206.40884%2010C6.40884%2013.8144%207.60584%2016.8114%209.99984%2018.991Z'%20stroke='%23121212'%20stroke-width='1.3'%20stroke-linecap='round'%20stroke-linejoin='bevel'/%3e%3cpath%20d='M1.44991%207.29993H18.5499M1.44991%2012.6999H18.5499'%20stroke='%23121212'%20stroke-width='1.3'%20stroke-linecap='round'/%3e%3c/svg%3e");
}
.iati-icon--chevron-left {
  background-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='16'%20height='16'%20fill='currentColor'%20viewBox='0%200%2016%2016'%3e%3cpath%20fill-rule='evenodd'%20d='M11.354%201.646a.5.5%200%200%201%200%20.708L5.707%208l5.647%205.646a.5.5%200%200%201-.708.708l-6-6a.5.5%200%200%201%200-.708l6-6a.5.5%200%200%201%20.708%200'%20/%3e%3c/svg%3e");
}
.iati-icon--youtube {
  background-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='%23FFF'%20viewBox='0%200%2016%2016'%3e%3cpath%20d='M8.051%201.999h.089c.822.003%204.987.033%206.11.335a2.01%202.01%200%200%201%201.415%201.42c.101.38.172.883.22%201.402l.01.104.022.26.008.104c.065.914.073%201.77.074%201.957v.075c-.001.194-.01%201.108-.082%202.06l-.008.105-.009.104c-.05.572-.124%201.14-.235%201.558a2.01%202.01%200%200%201-1.415%201.42c-1.16.312-5.569.334-6.18.335h-.142c-.309%200-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01%202.01%200%200%201-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09%209.82l-.008-.104A31%2031%200%200%201%200%207.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01%202.01%200%200%201%201.415-1.42c.487-.13%201.544-.21%202.654-.26l.17-.007.172-.006.086-.003.171-.007A100%20100%200%200%201%207.858%202zM6.4%205.209v4.818l4.157-2.408z'%20/%3e%3c/svg%3e");
  aspect-ratio: 1.2/1;
}
.iati-icon--x {
  background-image: url("data:image/svg+xml,%3csvg%20width='1200'%20height='1227'%20viewBox='0%200%201200%201227'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M714.163%20519.284L1160.89%200H1055.03L667.137%20450.887L357.328%200H0L468.492%20681.821L0%201226.37H105.866L515.491%20750.218L842.672%201226.37H1200L714.137%20519.284H714.163ZM569.165%20687.828L521.697%20619.934L144.011%2079.6944H306.615L611.412%20515.685L658.88%20583.579L1055.08%201150.3H892.476L569.165%20687.854V687.828Z'%20fill='%23fff'%20/%3e%3c/svg%3e");
}
.iati-icon--linkedin {
  background-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='%23fff'%20viewBox='0%200%2016%2016'%3e%3cpath%20d='M0%201.146C0%20.513.526%200%201.175%200h13.65C15.474%200%2016%20.513%2016%201.146v13.708c0%20.633-.526%201.146-1.175%201.146H1.175C.526%2016%200%2015.487%200%2014.854zm4.943%2012.248V6.169H2.542v7.225zm-1.2-8.212c.837%200%201.358-.554%201.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4%203.226%202.4%203.934c0%20.694.521%201.248%201.327%201.248zm4.908%208.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878%201.232-.878.869%200%201.216.662%201.216%201.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274%200-1.845.7-2.165%201.193v.025h-.016l.016-.025V6.169h-2.4c.03.678%200%207.225%200%207.225z'%20/%3e%3c/svg%3e");
}
.iati-icon--facebook {
  background-image: url("data:image/svg+xml,%3c?xml%20version='1.0'%20encoding='UTF-8'?%3e%3csvg%20id='Logo'%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20500%20500'%3e%3cpath%20d='M500,250C500,111.93,388.07,0,250,0S0,111.93,0,250c0,117.24,80.72,215.62,189.61,242.64v-166.24h-51.55v-76.4h51.55v-32.92c0-85.09,38.51-124.53,122.05-124.53,15.84,0,43.17,3.11,54.35,6.21v69.25c-5.9-.62-16.15-.93-28.88-.93-40.99,0-56.83,15.53-56.83,55.9v27.02h81.66l-14.03,76.4h-67.63v171.77c123.79-14.95,219.71-120.35,219.71-248.17Z'%20fill='%23fff'%20/%3e%3cpath%20d='M347.92,326.4l14.03-76.4h-81.66v-27.02c0-40.37,15.84-55.9,56.83-55.9,12.73,0,22.98.31,28.88.93v-69.25c-11.18-3.11-38.51-6.21-54.35-6.21-83.54,0-122.05,39.44-122.05,124.53v32.92h-51.55v76.4h51.55v166.24c19.34,4.8,39.57,7.36,60.39,7.36,10.25,0,20.36-.63,30.29-1.83v-171.77h67.63Z'%20fill='none'%20/%3e%3c/svg%3e");
}

.iati-jump-menu {
  max-width: 30rem;
}
.iati-jump-menu__header {
  background-color: #75dfc7;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .iati-jump-menu__header {
    background: none;
    padding: 0 0 0.5rem;
  }
}
.iati-jump-menu__toggle {
  background-color: transparent;
  border: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.iati-jump-menu__toggle::after {
  content: "";
  display: block;
  background-image: url("data:image/svg+xml,%3csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M7.75745%2010.5858L9.17166%209.17154L12.0001%2012L14.8285%209.17157L16.2427%2010.5858L12.0001%2014.8284L7.75745%2010.5858Z'%20fill='black'/%3e%3cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M1%2012C1%205.92487%205.92487%201%2012%201C18.0751%201%2023%205.92487%2023%2012C23%2018.0751%2018.0751%2023%2012%2023C5.92487%2023%201%2018.0751%201%2012ZM12%2021C7.02944%2021%203%2016.9706%203%2012C3%207.02944%207.02944%203%2012%203C16.9706%203%2021%207.02944%2021%2012C21%2016.9706%2016.9706%2021%2012%2021Z'%20fill='black'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  width: 1.43rem;
  height: 1.43rem;
  background-size: contain;
  transform-origin: 50% 50%;
  transition: all 0.2s;
}
.iati-jump-menu__toggle[aria-expanded=true]::after {
  transform: rotate(180deg);
}
@media (min-width: 768px) {
  .iati-jump-menu__toggle {
    display: none;
  }
}
.iati-jump-menu__title {
  text-transform: uppercase;
  color: #121212;
  font-size: 0.9375rem;
}
.iati-jump-menu__items {
  list-style-type: none;
  padding: 1rem;
  margin: 0;
  display: block;
  transition: all 0.25s;
  transition-behavior: allow-discrete;
  opacity: 1;
}
@starting-style {
  .iati-jump-menu__items {
    opacity: 0;
  }
}
.iati-jump-menu__items[aria-hidden=true] {
  display: none;
  opacity: 0;
}
@media (min-width: 768px) {
  .iati-jump-menu__items[aria-hidden=true] {
    display: block;
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .iati-jump-menu__items {
    box-shadow: none;
    padding: 0;
  }
}
.iati-jump-menu__item {
  border-inline-start: 4px solid #75dfc7;
  line-height: 1;
  padding: 0.4em;
  transition: all 0.2s ease-in-out;
}
.iati-jump-menu__item:hover {
  background-color: #b0eddf;
  border-color: #155366;
}
.iati-jump-menu__link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #155366;
  font-size: 0.75rem;
  font-weight: 800;
  line-height: 1.5;
}
.iati-jump-menu__link:active, .iati-jump-menu__link:focus, .iati-jump-menu__link:hover {
  text-decoration: none;
}

.iati-search-bar {
  display: flex;
  flex-flow: row nowrap;
}
.iati-search-bar input[type=text] {
  flex-grow: 1;
  padding: 1rem;
  border: 1px solid #dadada;
  border-inline-end: none;
}
.iati-search-bar input[type=text]::placeholder {
  color: #a1a1a1;
}
.iati-search-bar input[type=text]:focus {
  outline: none;
  border-color: #bdbdbd;
}

.iati-section__title {
  text-transform: uppercase;
  background-color: #155366;
  color: #fff;
  font-size: 1.0625rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  margin: 0;
}
.iati-section__content {
  padding-block: 1rem;
}
.iati-section__content > * {
  margin: 0 0 1rem;
}
.iati-section__content > *:last-child {
  margin: 0;
}
.iati-section--fill .iati-section__content {
  padding-inline: 1rem;
  background-color: #e6f9fe;
}

.iati-table {
  overflow-x: auto;
}
.iati-table table {
  border-collapse: collapse;
  max-width: 100%;
  width: 100%;
  font-weight: 500;
  font-size: 0.8rem;
  border: 1px solid #5c97a9;
}
.iati-table tbody {
  border: 1px solid #5c97a9;
}
.iati-table th {
  text-transform: uppercase;
  background-color: #75dfc7cc;
  color: #121212;
}
.iati-table td,
.iati-table th {
  border-right: 1px solid #5c97a9;
  text-align: left;
  min-width: 20ch;
}
.iati-table th,
.iati-table td {
  padding: 0.5rem 1rem;
}
.iati-table tr {
  border-bottom: 1px solid #add3df;
}
.iati-table tr:last-of-type {
  border-bottom: 1px solid #5c97a9;
}
.iati-table thead {
  border-bottom: 1px solid #5c97a9;
}
.iati-table tfoot {
  font-weight: 700;
  border-top: 1px solid #5c97a9;
  text-transform: uppercase;
}

.iati-menu-toggle {
  color: #fff;
  border: none;
  background-color: transparent;
  font-size: 0.9rem;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 600;
  flex-direction: column;
  display: inline-flex;
  align-items: flex-end;
  gap: 0.5em;
  padding: 0;
  align-self: stretch;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: flex-end;
  min-height: 2.2rem;
}
.iati-menu-toggle--open {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 38 17'%3E%3Cpath d='M0 0h38v3H0ZM0 7h38v3H0ZM0 14h38v3H0Z'/%3E%3C/svg%3E");
}
.iati-menu-toggle--close {
  height: 3.5rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 26 26'%3E%3Cpath stroke='white' stroke-miterlimit='10' stroke-width='1.3' d='M13 25c6.6274 0 12-5.3726 12-12 0-6.62742-5.3726-12-12-12C6.37258 1 1 6.37258 1 13c0 6.6274 5.37258 12 12 12ZM18.4163 18.416 7.58386 7.58386M7.58386 18.416 18.4163 7.58386'/%3E%3C/svg%3E");
}

.iati-menu-toggle__label {
  line-height: 1;
  position: relative;
  top: 0.25em;
}

.iati-message {
  padding: 0.8em 1em;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.1rem;
  line-height: 1;
  margin: 0;
  font-weight: 400;
}
.iati-message a {
  color: currentColor;
  text-decoration-color: currentColor;
}

.iati-message-highlight {
  font-weight: 600;
}

.iati-message--notice {
  background-color: #f6f6f6;
}

.iati-message--info {
  background-color: #ebfffa;
}

.iati-mobile-nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transition: all 0.5s;
}
.iati-mobile-nav--open {
  z-index: 100;
}

.iati-mobile-nav__overlay {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: -1;
}
.iati-mobile-nav--open .iati-mobile-nav__overlay {
  opacity: 0.6;
  visibility: visible;
}

.iati-mobile-nav__menu {
  background-color: #155366;
  padding: 1rem;
  color: #fff;
  position: absolute;
  z-index: 101;
  right: 0;
  top: 0;
  height: 100%;
  width: min(90vw, 400px);
  margin: 0;
  transform: translateX(400px);
  transition: transform 0.5s;
}
.iati-mobile-nav--open .iati-mobile-nav__menu {
  transform: translateX(0);
}
.iati-mobile-nav__menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.iati-mobile-nav__label {
  font-size: 1.375rem;
  margin-block-end: 2rem;
  margin: 0;
}

.iati-mobile-nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 2rem;
}

.iati-mobile-nav__item {
  border-block-start: 1px solid #fff;
}

.iati-mobile-nav__link {
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.0625rem;
  line-height: 1;
  padding-block: 0.75em;
  display: block;
  transition: all 0.2s ease-in-out;
}
.iati-mobile-nav__link:active, .iati-mobile-nav__link:focus, .iati-mobile-nav__link:hover {
  color: #7bedf2;
  text-decoration: none;
}

.iati-newsletter-form {
  color: #fff;
  display: grid;
  gap: 1rem;
  min-width: min(31.25rem, 100vw - 2rem);
}
@media (min-width: 768px) {
  .iati-newsletter-form {
    grid-template-columns: max-content 1fr;
  }
}

.iati-newsletter-form__item {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
  align-items: end;
  gap: 0.2rem;
}
@media (min-width: 768px) {
  .iati-newsletter-form__item {
    gap: 1rem;
  }
}

.iati-newsletter-form__label {
  font-weight: 600;
  grid-column: 1;
}
@media (min-width: 768px) {
  .iati-newsletter-form__label {
    text-align: end;
  }
}

.iati-newsletter-form__input {
  max-width: 100%;
  border: none;
  background-color: #fff;
  padding: 0.5em 1em;
}

.iati-newsletter-form__submit {
  grid-column: -1/span 1;
}

.iati-header-title {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-inline-start: 1rem;
  margin-block-end: 1.5rem;
  border-inline-start: 4px solid #06dbe4;
}
.iati-header-title > * {
  margin: 0;
}

.iati-header-title__eyebrow,
.iati-header-title__heading {
  color: white;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 800;
}

.iati-header-title__eyebrow {
  font-size: 1.1rem;
  line-height: 1;
}
@media (min-width: 640px) {
  .iati-header-title__eyebrow {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

.iati-header-title__heading {
  font-size: 1.625rem;
  line-height: 1;
}
@media (min-width: 640px) {
  .iati-header-title__heading {
    font-size: 2.5rem;
  }
}

.iati-tool-nav {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.iati-tool-nav-link {
  text-decoration: none;
  padding: 1rem;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 1.0625rem;
  line-height: 1.1;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}
.iati-tool-nav-link:active, .iati-tool-nav-link:focus, .iati-tool-nav-link:hover {
  background-color: #7bedf2;
  color: #155366;
  text-decoration: none;
}

.iati-header {
  display: flex;
  flex-direction: column;
}

.iati-header__container {
  width: 100%;
  max-width: 1280px;
  margin-inline-start: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.iati-header__section--first {
  background-color: #fff;
}
.iati-header__section--first .iati-header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
  flex-wrap: wrap;
  padding-block: 0.5rem;
}

.iati-header__section--last .iati-header__container {
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
}
.iati-header__section--last .iati-header__container:not(:has(.iati-header__nav[hidden])) {
  padding-block-end: 0;
}
@media (min-width: 768px) {
  .iati-header__section--last .iati-header__container {
    padding-block: 2rem;
  }
}

.iati-header__actions {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: flex-start;
  border-block-end: 1px solid #fff;
  padding-block-end: 1rem;
  margin-block-end: 1rem;
}
.iati-header__actions > :last-child {
  margin-inline-start: auto;
}
@media (min-width: 768px) {
  .iati-header__actions {
    border-block-end: none;
    padding-block-end: 0;
    margin-block-end: 0;
  }
  .iati-header__actions > :last-child {
    margin-inline-start: 0;
  }
}

.iati-header__nav {
  border-block-start: 1px solid #fff;
  display: none;
}
@media (min-width: 768px) {
  .iati-header__nav {
    display: block;
  }
}

.iati-header__logo {
  height: 2.5rem;
  max-width: 100%;
}
@media (min-width: 640px) {
  .iati-header__logo {
    height: 3.5rem;
  }
}

.iati-header__general-nav {
  display: none;
}
@media (min-width: 768px) {
  .iati-header__general-nav {
    display: block;
  }
}
.iati-header__general-nav a {
  font-family: "Hanken Grotesk", sans-serif;
  text-decoration: none;
  font-weight: 600;
  color: #155366;
  font-size: 1.0625rem;
  line-height: 1.1;
}
.iati-header__general-nav a:visited, .iati-header__general-nav a:hover {
  color: #0b9095;
}

@media (min-width: 768px) {
  .iati-header .iati-menu-toggle--open {
    display: none;
  }
}

.iati-footer {
  color: #fff;
  font-weight: 600;
}
.iati-footer a {
  color: currentColor;
}
.iati-footer a:hover {
  color: #7bedf2;
}
.iati-footer ul,
.iati-footer ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.iati-footer ul ul,
.iati-footer ol ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.iati-footer ul li li,
.iati-footer ol li li {
  padding-inline-start: 1rem;
}

.iati-footer__section {
  margin-block: 2rem;
}
.iati-footer__section:not(:first-of-type) {
  padding-block-start: 2rem;
  border-block-start: 1px solid #7bedf2;
}

.iati-footer__section--first .iati-footer__container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
@media (min-width: 768px) {
  .iati-footer__section--first .iati-footer__container {
    justify-content: space-between;
    flex-direction: row;
  }
}

.iati-footer__section--last .iati-footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}
.iati-footer__section--last .iati-footer__container > :first-child {
  margin-inline-end: auto;
}

.iati-footer__container {
  width: 100%;
  max-width: 1280px;
  margin-inline-start: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.iati-footer-block__title {
  margin: 0 0 1.5rem;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 700;
}
@media (min-width: 768px) {
  .iati-footer-block__title--centered {
    text-align: center;
  }
}

.iati-footer-block__content :where(p, li) {
  margin: 0;
}

.iati-footer-block__content--columns {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
}
.iati-footer-block__content--columns > * {
  flex-grow: 1;
}

.iati-footer__legal-nav {
  font-size: 1.0625rem;
}
.iati-footer__legal-nav a {
  line-height: 1.1;
}
.iati-footer__legal-nav a:visited {
  color: #7bedf2;
}

.iati-footer__social {
  display: flex;
  gap: 18px;
}

.iati-main {
  width: 100%;
  max-width: 1280px;
  margin-inline-start: auto;
  margin-right: auto;
  padding: 0 1rem;
  background-color: white;
  flex: 1;
  padding-block: 1rem;
}

:root {
  --display: block;
}

.hide {
  display: none;
}

.hide--mobile-nav {
  display: none;
}
@media (min-width: 768px) {
  .hide--mobile-nav {
    display: var(--display);
  }
}

@media (min-width: 640px) {
  .display--sm {
    display: var(--display);
  }
}

:root {
  --color-blue-10: #f0feff;
  --color-blue-20: #b6f6f9;
  --color-blue-30: #7bedf2;
  --color-blue-40: #41e4eb;
  --color-blue-50: #06dbe4;
  --color-blue-60: #09b6bd;
  --color-blue-70: #0b9095;
  --color-blue-80: #0e6a6e;
  --color-blue-90: #104446;
  --color-teal-10: #e6f9fe;
  --color-teal-20: #cae6ef;
  --color-teal-30: #add3df;
  --color-teal-40: #90c0cf;
  --color-teal-50: #73adbf;
  --color-teal-60: #5c97a9;
  --color-teal-70: #448093;
  --color-teal-80: #2d6a7d;
  --color-teal-90: #155366;
  --color-green-10: #ebfffa;
  --color-green-20: #b0eddf;
  --color-green-30: #75dfc7;
  --color-green-40: #3bd2af;
  --color-green-50: #00c497;
  --color-green-60: #05ab85;
  --color-green-70: #0a9172;
  --color-green-80: #0f775f;
  --color-green-90: #145d4c;
  --color-orange-10: #fff0f0;
  --color-orange-20: #ffc3be;
  --color-orange-30: #ffa8a0;
  --color-orange-40: #ff8d82;
  --color-orange-50: #ff7264;
  --color-orange-60: #db584b;
  --color-orange-70: #b73e32;
  --color-orange-80: #932419;
  --color-orange-90: #6e0900;
  --color-red-10: #fff0f3;
  --color-red-20: #fabdc8;
  --color-red-30: #f98fa2;
  --color-red-40: #f8617d;
  --color-red-50: #f73357;
  --color-red-60: #d32c4b;
  --color-red-70: #af243e;
  --color-red-80: #8b1d31;
  --color-red-90: #6d091b;
  --color-purple-10: #f6f0ff;
  --color-purple-20: #dfcbf6;
  --color-purple-30: #ccacf2;
  --color-purple-40: #b98dee;
  --color-purple-50: #a66ee9;
  --color-purple-60: #8b54cc;
  --color-purple-70: #6f3aaf;
  --color-purple-80: #542092;
  --color-purple-90: #380674;
  --color-grey-10: #f6f6f6;
  --color-grey-20: #dadada;
  --color-grey-30: #bdbdbd;
  --color-grey-40: #a1a1a1;
  --color-grey-50: #848484;
  --color-grey-60: #686868;
  --color-grey-70: #4b4b4b;
  --color-grey-80: #2f2f2f;
  --color-grey-90: #121212;
  --font-stack-heading: Hanken Grotesk, sans-serif;
  --font-stack-body: Nunito Sans, sans-serif;
  --font-stack-monospace: Roboto Mono, monospace;
  --font-weight-body: 400;
  --font-weight-body-strong: 600;
  --font-weight-heading: 600;
  --line-height-body: 2;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;
  --mobile-nav-breakpoint: 768px;
  --border-width: 4px;
  --padding-block: 1rem;
  --page-width-max: 1280px;
}

.rubric {
  font-weight: bold;
  font-size: 1.2em;
}

.line-block {
  margin: 1rem 0;
}
.line-block .line-block {
  margin: 0;
  padding-left: 1rem;
}

.headerlink {
  color: #bdbdbd;
  text-decoration: none;
  padding-left: 1rem;
  font-size: 0.8em;
  font-weight: 400;
}
.headerlink:hover {
  color: #121212;
}

.guilabel {
  background-color: #e6f9fe;
  border: 1px solid #448093;
  font-size: 0.6em;
  padding: 0 0.2em;
  border-radius: 0.2em;
}

.sig {
  display: inline-block;
  color: #686868;
}
.sig .sig-name {
  color: #121212;
  font-weight: bold;
}

span.linenos {
  color: #848484;
  margin-right: 1rem;
}

.highlight {
  background: none;
}

.code-block-caption,
.caption-text {
  text-align: center;
  font-style: italic;
}

dl dt .classifier::before {
  content: " : ";
}

.iati-main {
  display: flex;
  padding: 0;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .iati-main {
    flex-direction: row;
  }
}

.document {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
}

.documentwrapper {
  flex-grow: 1;
  padding: 1rem;
}

.versionmodified {
  font-weight: bold;
}

.relations {
  display: flex;
  padding: 1rem;
}
.relations > * {
  flex: 1;
}
.relations__label {
  margin: 0;
  font-weight: bold;
  font-size: 0.9em;
}

.globaltoc {
  margin: 1rem;
  overflow-y: auto;
}
@media (min-width: 1024px) {
  .globaltoc {
    flex: 0 0 250px;
    align-self: flex-start;
    position: sticky;
    top: 0;
    max-height: 100vh;
  }
}
.globaltoc .caption .caption-text {
  font-style: normal;
}
.globaltoc .caption:not(:first-of-type) {
  margin-top: 1rem;
}
aside.sidebar {
  float: right;
  clear: both;
  width: 250px;
  overflow: auto;
  margin-left: 1rem;
}
aside.footnote-list {
  font-size: 0.9em;
}

aside.footnote {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}
aside.footnote > * {
  margin: 0.2em;
  line-height: 2;
}

.iati-table table td p,
.iati-table table th p {
  margin: 0;
  line-height: 1.5;
}

/* Generic utilities which Sphinx expects to be available */
ol.upperalpha {
  list-style: upper-alpha;
}

ol.loweralpha {
  list-style: lower-alpha;
}

ol.upperroman {
  list-style: upper-roman;
}

ol.lowerroman {
  list-style: lower-roman;
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

.align-right {
  float: right;
  clear: right;
  margin-left: 1rem;
}

.align-left {
  float: left;
  clear: left;
  margin-right: 1rem;
}

.align-center {
  text-align: center;
}

.align-default {
  margin-left: 0;
}