pre, code {
    font-family: "JetBrains Mono", sans-serif !important;
    * {
        font-family: "JetBrains Mono", sans-serif !important;
    }
    overflow: scroll;
}

pre.highlight {
    border-radius: 2px;
}

:not(pre)>code[class*=language-], pre[class*=language-] {
    background: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

.d-code-copy {
    position: absolute;
}