.d-search-form {
    display: flex;
    align-items: center;

    * {
        display: none;
        color: #fff;
        transition: width 200ms var(--mvt-acceleation-curve) !important;
    }
    .d-search-button {
        display: initial;
    }
    .d-search-button:focus, .d-search-close-button:focus {
        background: transparent!important;
    }
    input {
        height: 2rem !important;
        border-bottom: 1px solid rgba(255, 255, 255, .50) !important;
        padding-bottom: 1px!important;
        display: block;
        width: 0!important;
    }
    input:focus {
        border-bottom: 1px solid #fff !important;
        box-shadow: 0 1px 0 0 #fff !important;
    }
    input::placeholder {
        color: #fff;
    }
}

.d-search-open .d-search-form {
    * {
        display: initial!important;
        transition: width 200ms var(--mvt-deceleration-curve) !important;
    }
    input {
        width: 360px!important;
        @media only screen and (max-width: 600px) {
            width: 200px !important;
        }
    }
}

.d-hide-on-search {
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.d-search-open .d-hide-on-search {
    @media only screen and (max-width: 600px) {
        opacity: 0;
        transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.d-search-results {
    position: fixed;
    right: 0;
    top: 64px;
    transform: translateX(100%);
    z-index: 1;
    width: 50%;
    transition: 200ms var(--mvt-acceleation-curve);
    min-height: 25dvh;
    max-height: 75dvh;
    padding: 0 8px 8px;
    overflow-y: scroll;
    @media only screen and (max-width: 600px) {
        top: 56px;
        width: 100vw;
        height: calc(100dvh - 56px);
        max-height: calc(100dvh - 56px);
    }
    margin: 0;
    &:empty {
        min-height: 0;
        height: 0;
        padding: 0;
        opacity: 0;
    }
}

.d-search-open .d-search-results {
    display: block;
    transform: translateX(0) translateY(0);
    transition: 200ms var(--mvt-deceleration-curve);
    @media only screen and (min-width: 600px) {
        &:empty {
            min-height: 0;
            height: 0;
            padding: 0;
            opacity: 0;
        }
    }
    opacity: 1;
}

.d-search-results {
    h3 {
        font-size: 1.3rem;
        margin-bottom: 0;
        margin-top: 8px;
    }
    article {
        border-bottom: 1px solid rgb(224, 224, 224);
        padding: 8px;
    }
    p {
        margin-bottom: 0;
    }
}